{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  <main class="d-flex flex-nowrap me-auto">
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style=" max-width: 380px;">
    <a class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
      <!-- <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg> -->
      <span class="fs-5 fw-semibold">Available Jobs</span>
    </a>
    <div class="scrollarea">  
      <div class="list-group list-group-flush border-bottom">
        {% for job in jobs %}
        <a href="{% url 'job' job.name %}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{ job.name }}</strong>
          <!-- <small>{{job.position}}</small> -->
        </div>
        <div class="col-10 mb-1 small">{{job.description}}</div>
      </a>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="col">
  <section class="mx-auto justify-content-center mb-2 mt-3" style=" max-width: 1000px;">
    <h1 style="text-align: center;" >Available Jobs in the Area</h1>
    <div  id="map">{{ map|safe }}</div>
  </section>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-auto">
      {% include 'job.html' %}
      </div>
    </div>
</div>
</main>
<style>
    .scrollarea {
  overflow-y: auto;
  max-height: 150vh; /* Adjust the maximum height as needed */
}

</style>
{% endblock %}