<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="background-image: url('/static/img/bg.png'); background-repeat: no-repeat; background-size: cover;">
    <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem; opacity: 0.9;">
          <div class="card-body text-center mb-5">
            {% if messages %}
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form action="" method="POST">
              {% csrf_token %}
            <div class="">
              <img src="/static/img/youthmatch.png" style="height: 150px; width: 150px; border-radius: 10px; opacity: 0;">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <div class="form-outline form-white mb-4">  
                <input type="text" id="typeEmailX" class="form-control form-control-lg" name="username" required/>
                <label class="form-label" for="username">Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" required/>
                <label class="form-label" for="password">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{% url 'password_reset' %}">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              

            </div>

            <div>
          
            </div>
            </form>
            <a href="{% url 'register' %}"><button class="btn btn-outline-warning btn-lg px-5 mt-3">Signup</button></a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>